{% extends 'layout.html' %}

{% block title %}管理员管理{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">

            <h1>管理员管理</h1>

            <div class="container">
                <a class="btn btn-success" href="/admin/add/">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    添加管理员
                </a>
            </div>

            <div class="container">
                <div class="table-responsive">
                    <table class="table align-middle text-center">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">姓名</th>
                            <th scope="col">密码</th>
                            <th scope="col">手机号</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in queryset %}
                        <tr>
                            <th scope="row">{{obj.id}}</th>
                            <td>{{obj.name}}</td>
                            <td>{{obj.pwd}}</td>
                            <td>{{obj.tel}}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/admin/{{obj.id}}/edit/">编辑</a>
                                <a class="btn btn-danger btn-xs" href="/admin/{{obj.id}}/delete/">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-10">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}{% endblock %}

