{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
    <style>
        .navbar {
            border-radius: 0;
        }





    </style>
    {% block css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">浙江大学图书馆</a>
            <!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
            <!--                    data-bs-target="#navbarSupportedContent"-->
            <!--                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--                <span class="navbar-toggler-icon"></span>-->
            <!--            </button>-->
        </div>

        <div class="collapse navbar-collapse" id="nav1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/card/list/">借书证</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/book/list/">图书管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/list/">管理员管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/card/record_query/?query=0">借书记录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/book/0/borrow/">书籍借阅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/book/0/return/">书籍归还</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">{{ request.session.info.name }}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/">注销</a>
                </li>
            </ul>


        </div>
    </div>
</nav>

<!--<div class="container">-->
{% block content %}{% endblock %}
<!--</div>-->

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'css/bootstrap.css' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
